.banner {
    display: flex;
    align-items: center;
    // background : colr position / bg-size
    height: 325px;
    background: url(../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat,
        linear-gradient(61deg, $color-purple-0, $color-blue-1 41%);
    // background-repeat: no-repeat;
    // background-position: 0;

    // background-size:  100%;

    // tính nằng giúp cho hình vào màu nền được trung hòa với nhau
    background-blend-mode: overlay;
    text-align: center;
    text-transform: capitalize;
    h2 {
        @include stylText($color-white-0, $fs-4, $fw-0);
    }
    p {
        color: $color-white-0;
        margin-bottom: 0;
    }
    button {
        margin: $mg-0 + 5 0;
    }
}
